:root {
  --clr-light: #f1f1f1;
  --clr-dark: #1a1f25;
  --clr-transparent: #040404;
  --clr-blue: #084280;
  --clr-blue-main: #020260;
  --clr-dev-cards-exp: #05101c;
}

/* Contact Main */
.contact_main{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 4rem;
}

.address_card{
    background: #05101c;
    transition: .5s ease;
}
.address_card:hover{
  background: var(--clr-blue);
}
.address_card i{
    font-size: 20px;
    background: var(--clr-blue);
}
form > div{
    display: flex;
    flex-direction: column;
}
form > div label{
  color: var(--clr-blue);
}
form > div input, form > div textarea{
    background: transparent;
    border: 2px solid #05101c;
    outline: none;
    /* color: var(--clr-blue); */
    transition: .5s ease-in-out;
}
form > div input:focus, form > div textarea:focus{
    transition: border .5s ease;
    border: 2px solid var(--clr-blue);
    outline: 1px solid var(--clr-blue);
}
.ct{
    margin: 5px 0 0 15px;
}
#send{
    background: linear-gradient(#084280, #020260);
    color: var();
}

/* For Testimononials */
/* Captions */
.carousel-caption {
  position: absolute;
bottom: 20%;
  text-align: center;
  /* padding: 50px 0; */
}
.carousel-caption h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.carousel-caption p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.carousel-caption .btn {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  background: var(--clr-Main-Green);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  margin: 20px;
}
.carousel-caption .btn:hover {
  background: #444;
} /* Indicators */
.carousel-indicators {
  position: static;
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.carousel-indicators #dot {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.carousel-indicators #dot.active {
  background-color: var(--clr-Main-Green);
}
.user-avatar i{
    font-size: 34px;
    color: #05101c;
    /* border: 2px solid #05101c; */
    /* border-radius: 50%; */
    padding: 5px 7px;
}
.user-comments{
    background: linear-gradient(#020260, #084280);
   margin: 20px 400px;
   display: grid;
   grid-template-rows: subgrid;
   grid-row: 1 / 4;
}
.user-comments p{
  flex-grow: 1;
}

/* Subsscription */
.letter_sub{
  margin: 70px 400px;
}
.letter_sub a{
  background: var(--clr-blue);
  color: var(--clr-light);
}
.letter_sub h2{
  color: var(--clr-blue);
}


/* Footer */
.footer_contents{
   background: var(--clr-dev-cards-exp);
   height: 55vh;
   margin-top: 90px;
}
.footer_contents h2{
  font-weight: 800;
  font-size: 2rem;
  font-family: "Dancing Script", "sans-serif";
}
.social_icons{
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}
.social_icon_footer i{
  font-size: 24px;
  color: var(--clr-blue);
  cursor: pointer;
  background: var(--clr-transparent);
  padding: 10px;
  border-radius: 9px;
  border: 1px solid var(--clr-blue);
  transition: .5s ease;
}
.social_icon_footer i:hover{
  background: #1a1f25;
  transform: scale(1.1);
}
@media screen and (min-width: 0) and (max-width: 750px) {
    .contact_main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 20px;
}
#comments{
    margin: 20px 20px;
}
.letter_sub{
  margin: 20px;
}
.social_icons{
  display: block;
  text-align: center;
}
.social_icon_footer{
  margin-bottom: 50px;
}
}

@media screen and (max-width: 1024px){
  .user-comments{
    margin: 100px
  }
}
