:root {
  --clr-light: #f1f1f1;
  --clr-dark: #1a1f25;
  --clr-transparent: #040404;
  --clr-blue: #084280;
  --clr-blue-main: #020260;
  --clr-dev-cards-exp: #05101c;
}
#parent {
  background: #020202;
  transition: filter 0.3s ease, pointer-events 0.3s ease;
}

.hero-section {
  text-align: center;
  line-height: 1.5;
  /* background: url(../media/videos/dark-tone.mp4); */
}
.img_wave {
  animation: wave 4.5s ease-in-out infinite;
  transform-origin: bottom center;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: translateY(-15px);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dev-name {
  font-size: 3em;
  font-weight: 800;
  /* font-family: "Poetsen One"; */
}
.dev-cv {
  padding: 20px 0;
}
#cv-download,
.let-chat {
  margin: 0 9px;
  padding: 15px 14px;
  background: var(--clr-blue);
  color: var(--clr-light);
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.7s ease-in, background-color 0.7s ease-in-out;
}
.let-chat {
  background: transparent;
  border: 2px solid var(--clr-blue);
  box-shadow: 0 0 3px var(--clr-blue);
}
.let-chat:hover {
  background: var(--clr-blue);
}
#cv-download:hover {
  background: transparent;
  border: 2px solid var(--clr-blue);
  box-shadow: 0 0 8px var(--clr-blue);
}
.hero-dev-contacts {
  margin: 50px 0;
}
.dev-contacts button,
.scroll button {
  position: relative;
  top: 250px;
}
.dev-image {
  background: linear-gradient(#4a90e2, #f1f1f1);
  /* border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom: none; */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  padding: 25px;
  animation-name: devAnimate;
  animation-timing-function: 1;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-duration: 4s;
  transition: transform 0.9s ease-in-out background-color 0.9s ease-in-out;
  animation: rotateBlob 8s ease-in-out infinite;
}
@keyframes rotateBlob {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  33% {
    border-radius: 58% 42% 34% 66% / 63% 55% 45% 37%;
    box-shadow: 0 0 30px var(--clr-blue);
  }
  66% {
    border-radius: 40% 60% 55% 45% / 50% 32% 68% 50%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 0 20px var(--clr-blue-main);
  }
}
.dev-image img {
  width: 100%;
  background: transparent;
  position: relative;
  top: 25px;
}
.dev-contacts a {
  text-decoration: none;
  position: relative;
  top: -15px;
}
.scroll button,
.dev-contacts button {
  background: transparent;
  border: none;
  outline: none;
}
.dev-contacts a i,
.scroll button i {
  color: var(--clr-blue);
  font-size: 25px;
  margin: 15px 0;
}
.tiny button {
  width: 5px;
  height: 5px;
  margin: 8px 0;
  border-radius: 50%;
  background: var(--clr-blue);
  outline: none;
  border: none;
  display: block;
  text-align: center;
  position: relative;
  left: 10px;
}

.navMenuContainer {
  position: fixed;
  bottom: 30px;
  left: 50%;
  /* right: 50%; */
  transform: translateX(-50%);

  background: linear-gradient(#3434ca, #084280);
  padding: 20px 20px;
  border-radius: 140px;
  opacity: 0.9;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.navMenuContainer button {
  background: transparent;
  border: none;
  outline: none;
  /* padding: 8px 10px; */
  margin: 0 8px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding: 10px;
  border-radius: 10px;
  /* border-radius: 50%;
  width: 40px;
  height: 40px; */
}
.navMenuContainer button:hover {
  background: #020260;
  transform: scale(1.2);
}
.navMenuContainer button i,
.navMenuContainer button span {
  color: var(--clr-light);
  font-weight: 800;
  background: transparent;
}

/* About Me */
/* .dev-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
} */
.dev-info {
  display: grid;
  grid-template-columns: 35% 50%;
  grid-gap: 15%;
  gap: 15%;
  margin: 30px 0;
}
.img-dev {
  background: linear-gradient(#084280, #4a90e2);
  width: 100%;
  height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  display: grid;
  place-items: center;
}
.img-dev-me {
  border-radius: 2rem;
  overflow: hidden;
  /* transform: rotate(10deg); */
  transition: transform 0.7s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: grid;
  background: linear-gradient(#4a90e2, #020260);
  place-items: center;
  backdrop-filter: blur(20px);
  width: 100%;
  /* height: 100%; */
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.img-dev-me:hover {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  box-shadow: 0 0 20px #05101c;
}
.img-dev img {
  display: block;
  background: transparent;
  width: 80%;
  overflow: clip;
}
.developer_large{
  background: var(--clr-blue);
  /* width: 100%;
  height: 50%; */
}
/* .shadow-card{
    background: linear-gradient(#4a90e2, #084280);
} */
.dev-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.dev-cards > div {
  border: 2px solid #05101c;
  border-radius: 20px;
  text-align: center;
  /* transform: var(--transition); */
  background: #05101c;
  padding: 2rem;
  /* color: var(--clr-light); */
  border-width: 2px;
  transition: transform 0.7s ease-in-out, background-color 0.7s ease-in-out;
}
.dev-cards > div:hover {
  background: transparent;
  color: var(--clr-light);
}
.dev-cards > div i {
  font-size: 2em;
  color: var(--clr-blue);
  margin-bottom: 25px;
  background: transparent;
}
.dev-cards > div p small {
  color: #aaaaaaff;
}
#int {
  margin: 2rem 0.6em;
  font-weight: 600;
  font-size: 1.2em;
}

.dev-about-header {
  color: var(--clr-blue);
}
.int {
  display: flex;
  flex-wrap: wrap;
}

#speak-with-me {
  background: linear-gradient(#4a90e2, #3434ca);
  color: var(--clr-light);
  padding: 13px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#speak-with-me:hover {
  background: linear-gradient(#3434ca, #084280);
  transform: scale(1.2);
}

/* Work Experience */
.work_exp{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  /* gap: 1em; */
}
.work_exp > .work_exp_auto, .work_exp_auto2{
    border-radius: 14px;
  border: 1px solid var(--clr-dark);
  transition: transform 0.3s ease, background-color 0.3s ease;
  background: #05101c;
  padding: 20px;
  /* display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / 4; */
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}
.work_exp > .work_exp_auto:hover, .work_exp_auto2:hover{
  background: #0f2236;
}
.work_exp_auto .jD, .work_exp_auto2 .jD{
  flex-grow: 1;
}
.work_exp_auto .jD ul li, .work_exp_auto2 .jD ul li{
  padding: 12px 0;
}
.jD{
  display: none;
  transition: top 0.4s ease;
}
.jD.retrieve{
  display: block;
    transition: top 0.4s ease;
}
.role_details span{
  margin: 0 15px 0 0;
}
.role_details > :first-child{
  font-weight: bold;
}
.job_type span{
  background: var(--clr-blue);
  color: var(--clr-light);
  padding: 4px 8px;
  border-radius: 8px;
}

.tech_used_illustrate{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* gap: 10px 15px; */
}
.tech_used_illustrate> span{
  background: #29496b;
  border-radius: 5px;
  margin: 10px 15px 5px 0;
  padding: 5px;
}

/* Experience */
.experience_cards {
  background: var(--clr-dev-cards-exp);
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  /* box-shadow: 0 0 5px var(--clr-blue);  */
  padding: 25px;
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 2em;
  transition: all 0.3s ease;
}
.experience_cards:hover {
  transition: transform 0.3s ease, background-color 0.3s ease;
  background: transparent;
  outline: 2px solid #05101c;
  box-shadow: 0 4px 20px rgba(74, 144, 226, 0.3);
}
.skills_combine,
.ed {
  display: grid;
  grid-template-columns: 49% 48%;
  gap: 2em;
}
.skills_combine i {
  font-size: 24px;
  color: rgba(74, 144, 226, 0.3);
}
.tools,
.FE,
.stylings,
.api_srtc {
  background: #05101c;
  border-radius: 14px;
  border: 2px solid var(--clr-dark);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.tools:hover,
.FE:hover,
.stylings:hover,
.api_srtc:hover,
.ed:hover {
  box-shadow: 0 4px 25px rgba(74, 144, 226, 0.3);
  transition: 0.7s ease;
  transform: translateY(-10px);
}
.tools h3,
.FE h3,
.stylings h3,
.api_srtc h3 {
  margin-left: 20px;
  margin-top: 10px;
}
.fe_skills_set,
.tools_skills,
.css_scrsc,
.api_tst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}
.fe_skills_set > div,
.tools_skills > div,
.css_scrsc > div,
.api_tst > div {
  background: #0f2236;
  border-radius: 12px;
  padding: 12px;
  transition: all 0.3s ease;
}

/* Education */
/* .education_certs{
  background: #05101c;
} */
.ed {
  background: #05101c;
  border: 2px solid var(--clr-dark);
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 14px;
}
.ed_upper,
.ed_e2,
.ed_e3 {
  background: #0f2236;
  border-radius: 12px;
  padding: 12px;
  transition: all 0.3s ease;
}
.check_ed {
  margin-right: 25px;
}
.check_ed i {
  font-size: 25px;
  color: rgba(74, 144, 226, 0.3);
}

/* .tech_skill, .soft_skills{
    border-radius: 25px;
    background: var(--clr-dev-cards-exp);
    padding: 15px;
    box-shadow: 0 4px 12px rgba(74, 144, 226, 0.3);
} */
/* .skills_set,
.learn_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.skills_set i,
.learn_img i {
  font-size: 1.2em;
  color: var(--clr-blue);
  padding: 0 5px;
  transition: transform 0.7s ease-in-out background-color 0.7s ease-in-out;
}
.skills_set div:hover,
.learn_img div:hover {
  transform: scale(1.1);
  transition: 0.7s;
  rotate: 4deg;
  border-radius: 8px;
  filter: brightness(90%);
  cursor: pointer;
}
.soft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
} */
@media screen and (min-width: 0) and (max-width: 750px) {
  #parent {
    padding-left: 10px;
    padding-right: 10px;
  }
  .dev-name {
    font-size: 3em;
  }
  .dev-contacts,
  .scroll {
    display: none;
  }
  /* .navMenuContainer {
    left: 10%;
    right: 10%;
    transform: none;
  } */
  /* About Me */
  .dev-info {
    flex-direction: column;
    align-items: center;
  }
  .dev-cards {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .int p {
    text-align: left;
    font-weight: 600;
  }
  .dev-info {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .img-dev-me {
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    z-index: 100;
  }
  .experience_cards {
    grid-template-columns: 1fr;
  }
  .skills_set {
    grid-template-columns: 1fr 1fr;
  }
  .skills_combine,
  .fe_skills_set,
  .tools_skills,
  .css_scrsc,
  .api_tst,
  .ed {
    grid-template-columns: 1fr;
  }
  .work_exp{
    grid-template-columns: 1fr;
    gap: 0;
  }
  /* #cv-download, .let-chat{
    padding: 10px;
  } */
}

@media screen and (max-width: 1024px) {
  .dev-info {
    grid-template-columns: 1fr;
    grid-gap: 0;
    gap: 0;
  }
  .navMenuContainer {
    left: 10%;
    right: 10%;
    transform: none;
  }
}
